.table-container {
  @apply flex flex-col h-[75vh] overflow-hidden;
  .table-head-container {
    @apply bg-white pl-6 px-6 py-5 rounded-t-xl gap-x-8 justify-between;
    .table-head {
      @apply text-[#25282B] font-semibold flex justify-center;
    }
  }
  .table-data-container {
    @apply bg-white h-full overflow-auto;
    .table-data-row {
      @apply px-6 py-3 gap-x-8 justify-between hover:bg-[#E9F3FF] cursor-pointer;
    }
    span {
      @apply text-[#333] flex justify-center;
    }
  }
  .table-footer {
    @apply bg-white px-6 py-3 border-b flex items-center gap-x-1;
    span {
      @apply h-8 w-8 grid place-content-center text-sm;
    }
  }
}
